body,html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    background-color: red;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 240px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.gambar img{
    width: 100px;
    height: 100px;
    margin-left: 30px;
}
.gambar{
    display: flex;
    flex-direction: column;
    background-color: rgb(101, 101, 101);
    width: 200px;
    height: 500px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px 0 0 10px;
}
.images{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.hasil{
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
}.hasilNya{
    background-color: black;
    display: flex;
    color: white;
    width: 400px;
    height: 100px;
    border-radius: 0 0 10px 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.gambar img:hover{
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    cursor: pointer;
}
.enemy{
    display: flex;
    flex-direction: column;
    background-color: rgb(101, 101, 101);
    width: 200px;
    height: 500px;
    align-items: center;
    border-radius: 0 10px 10px 0px;
    
}
.textComp{
    width: 200px;
}

.resultComp{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
}
.result{
    width: 150px;
    height: 150px;
}
.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player span{
    font-size: 60px;
}
.computer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.computer span{
    font-size: 60px;
}
